* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-div {
    background-color: #297eff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.search {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    background: #fff;
    border-radius: 60px;
    box-shadow: 0 0 0 5px #2573ef;
    transition: 0.5s;
}

.search.active {
    width: 360px;
}

.search .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    cursor: pointer;
}

.search .icon::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border: 3px solid #287dfc;
    border-radius: 15px;
    transform: translate(-3px, -3px);
    transition: 0.5s;
}

.search .icon::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 15px;
    background: #287dfc;
    transform: translate(8px, 8px) rotate(-45deg);
    transition: 0.5s;
}

.search.active .icon::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 24px;
    background: #999;
    border: 0;
    transform: translate(2px, -8px) rotate(-45deg);
}

.search.active .icon::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 24px;
    background: #999;
    border: 0;
    transform: translate(2px, 8px) rotate(45deg);
}

.search .input-div {
    position: relative;
    width: 300px;
    height: 60px;
    left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search .input-div input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 18px;
    padding: 10px 0;
}



